p {
  color: black;
  margin-bottom: 0;
}

a, h1, h2, h3, h4, h5 {
  color:#87c540;
}

ul {
  list-style: none;
  line-height: 30px;
}

.navbar {
  background-color: #252525;
}

.navbar-brand {
  color: white;
  font-size: 18px;
  max-width: 200px;
}

.btn-outline-success {
  color:#87c540;
  border-color: #87c540;
}

.btn-outline-success:hover {
  background-color: #f9f9f9;
  color:#252525;
  border-color: #87c540;
}

.search-results {
  padding-bottom: 100px;
}

ul, .row, .col {
  margin: 0;
  padding: 0;
}

.col-4 {
  padding-left: 0;
}

#spotify-icon {
  float: right;
  max-height: 35px;
  margin-right: 10px;
}

.related-artists, .track-results, .remixes {
  color: black;
  padding: 15px 10px;
  margin-right: 25px;
}

.track, .artist {
  display: inline-block;
  width: 85%;
}

.artist {
  margin-right: 5px;
}

.track, .artist {
  margin-bottom: 5px;
}

.track li:hover, .latest-release:hover, .artist li:hover {
  border-style: inset;
  border: 2px solid #87c540;
  background-color: #f1ffe6;
  cursor: pointer;
}

.list-group-item {
  min-height: 75px;
  padding: 15px 10px;
}

.artist-img {
  border-radius: 32px 32px 32px 32px;
  max-height: 64px;
}

.artist-img, .track-img {
  max-width: 50px;
  min-height: 100%;
  margin-right: 10px;
  float: left;
}

.latest-release {
  border-radius: 5px;
  border-style: inset;
  border: 1px solid #e2e2e2;
  padding: 15px;
  max-width: 500px;
}

.latest-img {
  max-width: 80px;
  float: left;
  margin-right: 15px;
}

.artist-name {
  font-weight: bold;
  color: #252525;
}

.current-track {
  margin: 0 auto;
  margin-bottom: 15px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  z-index: 10;
  box-shadow: 0px 0px 30px #151515;
}

#current-track {
  display: block;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  z-index: 10;
  background-color: #252525;
  box-shadow: 0px 0px 30px #151515;
}