p {
  color: black;
  margin-bottom: 0;
}

a, h1, h2, h3, h4, h5 {
  color:#1DB954;
}

a:link {
  text-decoration: none;
}

ul {
  list-style: none;
  line-height: 30px;
}

hr {
  border: 2px solid #1DB954;
}

.navbar {
  background-color: #252525;
  display: flex;
  justify-content: space-between;
}

.navbar-brand #spotify-icon{
  float: left;
}

.navbar-brand #navbar-name {
  color: white;
}

.navbar-brand {
  max-width: 200px;
}

.btn-outline-success {
  color:#1DB954;
  border-color: #1DB954;
}

.btn-outline-success:hover {
  background-color: #f9f9f9;
  color:#252525;
  border-color: #1DB954;
}

.search {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.search button {
  margin-top: 10px;
}

.login-helper p {
  color: #1DB954;
  font-size: 11px;
  text-align: center;
  padding-bottom: 15px;
}

.login-helper p i {
  color: #1DB954;
  font-size: 40px;
  padding-bottom: 0px;
}

#lightbulb {
  padding-bottom: 0;
}

.search-results {
  padding-bottom: 100px;
}

ul, .row, .col {
  margin: 0;
  padding: 0;
}

.col {
  min-width: 170px;
}

.col-4 {
  padding-left: 0;
}

#spotify-icon {
  float: right;
  max-height: 35px;
  margin-right: 10px;
}

.fa {
  color: #a8a8a8;
  padding: 5px;
}

.fa:hover {
  color: #1DB954;
}

.related-artists, 
.track-results, 
.remixes, 
.events, 
.latest-release {
  color: black;
  padding: 15px 10px;
  margin-right: 25px;
}

.track, 
.artist {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

.track li:hover, 
.latest-release:hover, 
.artist li:hover {
  border-style: inset;
  border: 2px solid #1DB954;
  background-color: #f1ffe6;
  cursor: pointer;
  box-shadow: 0px 5px 20px #616161;
}

.list-group-item {
  min-height: 75px;
  padding: 15px 10px;
}

.profile-img {
  max-width: 256px;
  margin: 10px 15px 15px 15px;
}

.profile-img img {
  box-shadow: 0px 10px 30px #616161;
  border: 6px #252525;
  border-style: none solid double none;
  border-radius: 10px;
}

.main-artist-name {
  margin-top: 15px;
  color: #1DB954;
}

.data {
  padding: 5px;
  border: 1px solid #e2e2e2;
  margin: 15px;
  padding: 0px 15px 10px 15px;
  border-radius: 5px;
}

.data p {
  
}

.artist-img {
  border-radius: 50%;
}

.artist-img, .track-img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin: 5px;
  max-width: 50px;
  min-height: 100%;
  margin-right: 10px;
  float: left;
}

.latest-release {
  border-radius: 5px;
  border-style: inset;
  border: 1px solid #e2e2e2;
  padding: 15px;
  width: 92.75%;
}

.event li {
  width: 100%;
}

#icon {
  float: left;
  width: 64px;
  margin-right: 15px;
}

.latest-img {
  max-width: 80px;
  float: left;
  margin-right: 15px;
}

.artist {
  margin-right: 5px;
}

.artist-name {
  font-size: 22px;
  font-weight: bold;
  color: #252525;
}

.sub-text {
  font-size: 14px;
}

.current-track {
  margin: 0 auto;
  margin-bottom: 15px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  z-index: 10;
  box-shadow: 0px 0px 30px #151515;
  border: 2px solid #1DB954;
  border-radius: 8px;
  
}

#current-track {
  display: block;
  border-radius: 6px;
  overflow: hidden;
}

.trend-container {
  width: auto;
}

.trend {
  background-image: linear-gradient(to right, white, #1DB954);
  border: 2px solid #929292;
  padding: 0px 5px;
  text-align: center;
  color: black;
}

.trend-helper {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  font-size: 11px;
  line-height:11px;
}

.footer {
  display: flex;
  padding: 8px;
  align-items: top;
  justify-content: center;
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  z-index: 10;
  background-color: #252525;
  box-shadow: 0px 0px 30px #151515;
}

.footer p {
  color: #1DB954;
}

@media only screen and (max-width: 1200px) {
  #compare {
    display: none;
  }
}

@media only screen and (max-width: 440px) {
  #spotify-icon {
    display: none;
  }
}