:root {
  --main: #aa00ff;
  --sub-main: #efd0ff;
  --bg: #151515;
  --sub-bg: #252525;
  --text: #3c1d52;
  --box-shadow: #616161;
  --border-radius: 10px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
background: var(--sub-bg); 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #454545; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--main); 
}

body {
  background-color: var(--bg);
}

p {
  color: var(--text);
  margin-bottom: 0;
}

a, h1, h2, h3, h4, h5, h6 {
  color:var(--main);
}

a {
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

ul {
  list-style: none;
  line-height: 30px;
}

i {
  cursor: pointer;
}

hr {
  border: 2px solid var(--main);
}

.navbar {
  background-color: var(--sub-bg);
  display: flex;
  justify-content: space-between;
  max-height: 60px;
  border-bottom: 2px solid var(--main);
}

.navbar i {
  color: var(--main);
  font-size: 32px;
}

.navbar-brand {
  max-width: 200px;
}

#navbar-icon {
  float: left;
  max-height: 35px;
  margin-right: 10px;
}

#navbar-name {
  color: var(--main);
  font-size: 2rem;
  margin-left: 50px;
}

.btn-outline-success {
  color:var(--text);
  border-color: var(--main);
}

.btn-outline-success:hover {
  background-color: var(--text);
  color:var(--sub-main);
  border-color: var(--main);
}

#mainSearch, #main1, #main2, #main3 {
  display: none;
  border: 2px solid var(--main);
  background-color: var(--sub-bg);
  border-radius: var(--border-radius);
  height: auto;
  padding: 15px;
  box-shadow: 0px 150px 40px #ffffff;
}

#search-headerSearch, #search-header1, #search-header2, #search-header3 {
  margin-top: 250px;
}

.search button {
  margin-top: 10px;
}

.login-helper p {
  color: var(--main);
  font-size: 11px;
  text-align: center;
  padding-bottom: 15px;
}

.login-helper p i {
  color: var(--main);
  font-size: 40px;
  padding-bottom: 0px;
}

.search-results {
  padding-bottom: 100px;
}

ul, .row, .col {
  margin: 0;
  padding: 0;
}

.col {
  min-width: 170px;
}

.col-4 {
  padding-left: 0;
}

#spotify-icon {
  float: right;
  max-height: 25px;
  margin-right: 10px;
}

.fa {
  color: #a8a8a8;
  padding: 5px;
  font-size: 25px;
}

.fa:hover,
.latest-release a p:hover {
  color: var(--main);
}

.related-artists, 
.track-results, 
.remixes, 
.events, 
.latest-release {
  color: var(--text);
  padding: 15px 10px;
  margin-right: 25px;
}

.track-results a li, .remixes a li {
  min-height: 100px;
}

.track, 
.artist {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

.list-group-item {
  min-height: 75px;
  padding: 15px 10px;
}

.profile-img {
  object-fit: cover;
  margin: 10px 15px 15px 15px;
}

.profile-img::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, #fff 90%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}

.profile-img img {
  border: 6px var(--sub-bg);
  border-style: solid solid none solid;
  border-radius: var(--border-radius);
  max-width: 270px;
}

.main-artist-name {
  margin-top: 15px;
  color: var(--main);
  font-size: 2.5rem;
}

.container-fluid {
  padding: 0px 10px;
}

.data {
  padding: 5px;
  border-top: 2px #e2e2e2;
  border-right: 4px var(--main);
  border-bottom: 4px var(--main);
  border-left: 2px #e2e2e2;
  border-style: solid;
  margin: 5px;
  padding: 0px 15px 10px 15px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #cfcfcf;
}

.data p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.artist-img {
  border-radius: 50%;
  object-fit: cover;
  width: 65px;
  height: 65px;
  margin: 5px;
  margin-right: 10px;
  float: left;
}

.track-img {
  object-fit: cover;
  width: 60px;
  height: 60px;
  margin: 5px;
  margin-right: 10px;
  float: left;
}

.latest-release {
  border-radius: 5px;
  border-style: inset;
  border: 1px solid #e2e2e2;
  padding: 15px;
  width: 92.75%;
  min-height: 115px;
}

.event li {
  width: 100%;
}

#icon {
  float: left;
  width: 64px;
  margin-right: 15px;
}

.social-links {
  margin-bottom: 25px;
}

.latest-img {
  max-width: 80px;
  float: left;
  margin-right: 15px;
}

.artist {
  margin-right: 5px;
}

.artist-name, .track-name {
  margin-top: 5px;
  font-weight: bold;
  color: var(--text);
}

.artist-name {
  font-size: 22px;
}

.track-name {
  font-size: 16px;
  line-height: 95%;
}

.sub-text {
  font-size: 14px;
}

.current-track {
  margin: 0 auto;
  margin-top: -80px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  z-index: 10;
}

#current-track {
  display: block;
  border-radius: 6px;
  overflow: hidden;
  opacity: .01;
}

.currently-playing {
  position: fixed;
  bottom: 40px;
  left: 2.5%;
  display: none;
}

.currently-playing img {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.currently-playing p {
  margin-bottom: 5px;
  color: var(--main);
  font-size: 18px;
  font-weight: bold;
}

.currently-playing p span {
  font-weight: normal;
  font-size: 12px;
  color: white;
}

.play-button {
  margin-top: -60px;
  margin-left: 25px;
}

.play-button i {
  color: var(--main);
  font-weight: bold;
  font-size: 48px;
}

.trend-container {
  width: auto;
}

.trend {
  background-image: linear-gradient(to right, white, var(--main));
  border: 2px solid #929292;
  padding: 0px 5px;
  text-align: center;
  color: var(--text);
}

.data p.trend-helper {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  font-size: 11px;
  line-height:11px;
  word-wrap: normal;
}

.data i {
  font-size: 14px;
}

.footer {
  display: flex;
  padding: 8px;
  align-items: top;
  justify-content: center;
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  z-index: 10;
  background-color: var(--sub-bg);
  box-shadow: 0px 0px 30px var(--sub-bg);
  border-top: 2px solid var(--main);
}

.footer p {
  color: var(--main);
}

.recently-searched-menu {
  position: fixed;
  bottom: 40px;
  left: 40%;
  text-align: center;
  background-color: var(--sub-bg);
  border-left:2px solid var(--main);
  border-right:2px solid var(--main);
  border-top:2px solid var(--main);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  color:var(--text);
  min-width: 20%;
  z-index: 100;
}

.recently-searched-icon i {
  color:var(--main);
}

.recently-searched-icon i:hover {
  color:var(--text);
}

.recently-searched-text {
  font-weight: bold;
  font-size: large;
}

.recently-searched-list {
  display: none;
  padding-bottom: 10px;
}

.recently-searched-list p a {
  text-decoration: underline;
  margin: 5px;
  color: white !important;
}

.recently-searched-list p a:hover {
  text-decoration: underline !important;
  color: var(--main) !important;
}

@media only screen and (max-width: 1200px) {
  #compare, #login, #spotify-icon {
    display: none;
  }
  
  .header {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .navbar {
    display: flex;
    justify-content: center;
  }

  #navbar-name {
    margin: auto;
  }

  .trend {
    font-size: 14px;
  }
}

@media only screen and (max-width: 440px) {
  .related-artists, 
  .track-results, 
  .remixes, 
  .events, 
  .latest-release {
    margin-right: 0px;
  }
  
  .track-name {
    font-size: 16px;
    line-height: normal;
  }
  .artist-name {
    font-size: 20px;
  }
  .profile-img {
    padding-right: 0;
  }

  .recently-searched-menu {
    left: 27.5%;
    min-width: 45%;
  }
}